.task-view {
  width: 100%;
  padding: 0 10px 0 10px;
}

.task-view .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
}

.task-view .time-input {
  flex-direction: column;
  gap: 5px;
}

.task-view input,
.task-view textarea,
.task-view input[type="time"] {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.task-view input:focus,
.task-view textarea:focus,
.task-view select:focus {
  border: 1px solid rgb(93, 134, 248);
}

.task-view textarea {
  overflow: hidden;
  resize: none;
  height: 88%;
}

.task-view label {
  display: flex;
  align-items: center;
  color: rgb(58, 58, 58);
  font-size: 14px;
}

.task-view input[type="time"]:hover {
  cursor: text;
}

.task-view .title {
  font-size: 16px;
  min-height: 60px;
  height: auto;
}

.task-view form {
  gap: 10px;
}

.task-view .description {
  height: 88%;
}

.wrapper {
  display: flex;
}

.task-view .wrapper {
  height: auto;
  margin-top: 5px;
}

hr.full-width {
  margin: 0 -15px;
}

hr.full-width-horizontal {
  margin: 10px 0;
}

.task-view fieldset {
  flex-direction: row;
  justify-content: space-between;
}

.task-view fieldset .task-view fieldset p,
.task-view fieldset input,
.task-view input[type="time"] {
  padding: 0 5px;
  width: 50%;
}

.task-view .button-container {
  justify-content: end;
  height: 50px;
  gap: 40px;
}

.task-view .horizontal p:first-child {
  font-size: 28px;
  font-weight: 600;
}
.task-view .horizontal p:last-child {
  font-size: 18px;
  font-weight: 400;
}

.task-view .horizontal {
  align-items: center;
  padding: 0 5px;
  margin-bottom: 5px;
  height: 40px;
}

.task-view .calendar {
  width: 100%;
}

.task-view select {
  width: 49%;
  border: none;
  font-size: 14px;
  margin-right: 8px;
  border: 1px solid transparent;
}

.task-view select:hover {
  cursor: pointer;
}

@media (max-width: 300px) {
  .task-view {
    padding: 0;
  }
}

@media (min-width: 600px) {
  .task-view select {
    width: 48%;
  }
  .task-view .button-container {
    gap: 50px;
  }
  .task-view .col-right {
    width: 33%;
  }

  .task-view .col-left {
    width: 67%;
  }

  .calendar-page .task-view .col-left {
    padding-right: 3%;
  }

  .task-view .description,
  .task-view textarea {
    height: 97%;
  }
  .task-view input,
  .task-view input[type="time"] {
    font-size: 14px;
  }

  .task-view textarea {
    font-size: 16px;
    line-height: 35px;
    min-height: 400px;
  }

  .task-view .container {
    padding-left: 5%;
  }

  .task-view .title {
    font-size: 24px;
  }
}

@media (min-width: 600px) {
  hr.full-width-horizontal {
    margin: -15px 0 -11px 0;
  }
}

@media (min-width: 900px) {
  hr.full-width {
    margin: 0 -25px;
  }
}
