.task-form {
  margin-top: 30px;
  padding: 0 10px;
  width: 370px;
}

.task-form fieldset {
  gap: 8px;
}

.horizontal.time {
  gap: 17px;
  display: flex;
  align-items: center;
}

.horizontal.time p {
  min-width: 20px;
}

.task-form label {
  font-size: 14px;
}

.time-input .horizontal.time {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .task-form {
    width: 100%;
  }

  .horizontal.time {
    flex-direction: column;
  }
}
