.calendar-day-display {
  width: 1500px;
  min-height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  z-index: 11;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(7, 200px);
  padding-left: 55px;
  place-items: center;
}

@media (min-width: 900px) {
  .calendar-day-display {
    padding-left: 65px;
    grid-template-columns: repeat(7, 250px);
    width: 1800px;
    min-height: 100px;
  }
}
