.top-utility-bar {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background-color: #f9fafd;
}

.back-button,
.next-button {
  font-size: 23px;
  width: 22px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 15px;
  padding: 0 10px;
}

.top-utility-bar p {
  min-width: 85px;
  text-align: center;
}

.top-utility-bar .horizontal {
  gap: 0;
}

@media (min-width: 1000px) {
  .top-utility-bar {
    height: 70px;
  }

  .top-utility-bar {
    padding: 0 25px;
  }
  .top-utility-bar .horizontal {
    gap: 5;
  }
}
