.tasks-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 55px);
}

.tasks-page .content {
  background-color: #f3f7fd;
  justify-content: center;
}

.tasks-page .content {
  overflow-x: scroll;
  padding-top: 100px;
}

@media (min-width: 1000px) {
  .tasks-page {
    height: 100vh;
  }
}
