button {
  font-size: 14px;
  font-weight: 300;
}

.btn-main {
  background-color: #506ffc;
  padding: 12px 25px;
  border-radius: 5px;
  color: white;
}

.btn-main:hover {
  background-color: #637ffb;
}

.btn-plain {
  padding: 5px 10px;
}

.btn-ext:hover {
  background-color: rgb(227, 29, 29);
  color: white;
}

.btn-secondary {
  color: blue;
}
