.create-task-modal {
  width: 400px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 20;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.2);
  gap: 10px;
  padding: 30px;
}

.create-task-modal .header {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.header-color {
  position: absolute;
  top: 0;
  left: -10px;
  width: 400px;
  height: 10px;
  background-color: rgb(255, 115, 115);
}

.create-task-modal .btn-main {
  margin-top: 15px;
}

.horizontal.time {
  gap: 10px;
  display: flex;
}
