.task-view {
  width: 100%;
}

.task-view .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.task-view input,
.task-view textarea,
.task-view input[type="time"] {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  border: 1px solid transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.task-view input:focus,
.task-view textarea:focus {
  border: 1px solid rgb(93, 134, 248);
}

.task-view textarea {
  overflow: hidden;
  resize: none;
  height: 88%;
  min-height: 295px;
}

.task-view label {
  display: flex;
  align-items: center;
  color: rgb(58, 58, 58);
}

.task-view input[type="time"]:hover {
  cursor: text;
}

.task-view .title {
  font-size: 24px;
  min-height: 60px;
  height: auto;
}

.task-view form {
  gap: 10px;
}

.task-view .description {
  height: 88%;
  min-height: 300px;
}

.wrapper {
  display: flex;
}

.task-view .wrapper {
  height: auto;
  margin-top: 5px;
}

.task-view .col-right {
  min-width: 250px;
}

hr.full-width {
  margin: 0 -15px;
}

hr.full-width-horizontal {
  margin: -15px 0 -11px 0;
}

.task-view fieldset {
  flex-direction: row;
  justify-content: space-between;
}

.task-view fieldset p,
.task-view fieldset input,
.task-view input[type="time"] {
  padding: 0;
  width: 50%;
}

.task-view .button-container {
  justify-content: end;
  height: 50px;
  gap: 40px;
}

@media (min-width: 600px) {
  .task-view .button-container {
    gap: 50px;
  }
  .task-view .col-right {
    width: 30%;
  }

  .task-view .col-left {
    width: 70%;
  }

  .calendar-page .task-view .col-left {
    padding-right: 3%;
  }

  .task-view .description,
  .task-view textarea {
    min-height: 420px;
    height: 97%;
  }

  .task-view .container {
    padding-left: 5%;
  }
}

@media (min-width: 900px) {
  hr.full-width {
    margin: 0 -25px;
  }
}
