.task-view {
  width: 100%;
}

.task-view .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.calendar-page .task-view .col-left {
  padding-right: 0;
}

.task-view p:hover {
  cursor: text;
  border: 1px solid rgb(216, 216, 216);
}

.task-view input,
.task-view p,
.task-view textarea,
.task-view input[type="time"] {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  background: transparent;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}

.task-view label {
  display: flex;
  align-items: center;
  color: rgb(58, 58, 58);
}

.task-view input[type="time"]:hover {
  cursor: text;
}

.task-view input,
.task-view textarea {
  border: 1px solid rgb(93, 134, 248);
}

.task-view .title {
  font-size: 24px;
  height: 50px;
}

.task-view form {
  gap: 10px;
}

.task-view p,
.task-view textarea {
  padding: 8.5px 8px 10px 8px;
}

.task-view input {
  padding: 12px 8px 10px 8px;
}

.task-view .description,
.task-view textarea {
  height: 88%;
}

.wrapper {
  display: flex;
}

.task-view .wrapper {
  height: 450px;
  margin-top: 5px;
}

.task-view .col-right {
  min-width: 250px;
}

hr.full-width {
  margin: 0 -15px;
}

hr.full-width-horizontal {
  margin: -11px 0;
}

.task-view fieldset {
  flex-direction: row;
  justify-content: space-between;
}

.task-view fieldset p,
.task-view fieldset input,
.task-view input[type="time"] {
  padding: 0;
  width: 50%;
}

.task-view .button-container {
  justify-content: end;
  height: 50px;
  gap: 40px;
}

@media (min-width: 600px) {
  .task-view .button-container {
    gap: 50px;
  }
  .task-view .col-right {
    width: 30%;
  }

  .task-view .col-left {
    width: 70%;
  }

  .calendar-page .task-view .col-left {
    padding-right: 3%;
  }

  .task-view .description,
  .task-view textarea {
    height: 97%;
  }

  .task-view .container {
    padding-left: 5%;
  }
}

@media (min-width: 900px) {
  hr.full-width {
    margin: 0 -25px;
  }
}
