.Scroller-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 92vh;
  position: relative;
  overflow: hidden;
}

.Scroller-wrapper:hover {
  cursor: grab;
}

.Scroller-wrapper:active {
  cursor: grabbing;
}
