* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1a1a1a;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
}

p {
  align-items: center;
  user-select: none;
}

div {
  user-select: none;
}

.horizontal {
  display: flex;
  gap: 5px;
}
